.header {
  background-color: #ffece1;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sider {
  margin: 0;
  padding: 0;
}
.ant-btn {
  border: none;
  background: none;
  font-weight: 600;
  box-shadow: none;
  color: #f17228;
  margin-left: 5px;
}
.logoImg {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bor {
  border-top: 1px solid #f17228;
  margin-top: 30px;
}

.logo-name {
  display: flex;
}
.logo-name p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #f17228;
  margin-bottom: 0;
  margin-top: 0;
}
.font {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #8b8885;
}
.contentLay {
  background: linear-gradient(#f2c3a8, rgb(255, 255, 255));
  bottom: 0;
}
.ant-drawer-title {
  text-align: center;
}

/* drawer reset form */

.form-drawer {
  color: black !important;
}
.ant-form-item {
  color: black !important;
}
